---
import Logo from "../../images/logos/logoPrincipal.svg";
import IconExpand from "../../images/sideBarImg/Expand icon.png";
import { Elementoscript } from "../../helpers/elements";
import Elemento from "../nav/elementSidebar.astro";
import ElementSidebar from "../nav/elementSidebar.astro";
import Logomini from "../../images/sideBarImg/Logomini.png";
import { Elementoscriptadmin } from "../../helpers/elementsadmin";


interface Props {
    condicion: number;
}

const { condicion } = Astro.props;


---

{condicion === 1 && (
    <aside
    class="sidebar hidden sm:flex w-[23rem] h-screen bg-greyBlack rounded-md transition-all duration-500 ease-in-out"
    id="sidebar"
>
    <div class="cajasidebar1 flex flex-col gap-5  w-full" id="cajasidebar1">
        <div class="absolute w-15 h-15 justify-end">
            <img
            id="toggleBtn"
            src={IconExpand.src}
            class="cursor-pointer"
            alt=""
        />
        </div>
        
        <div class="flex justify-center">
            <img
                src={Logo.src}
                class="w-[10rem] h-[10em] block"
                alt=""
                id="logo"
            />
            <img
                src={Logomini.src}
                class="w-[2.5rem] h-[3.5rem] pt-5 hidden"
                id="logo-min"
                alt=""
            />
        </div>
        <div class="flex flex-col gap-3 px-4">
            {
                Elementoscript.map((Elementoscript, index) => (
                    <Elemento
                        icon={Elementoscript.icon}
                        texto={Elementoscript.texto}
                        URL={Elementoscript.URL}
                    />
                ))
            }
        </div>

        <div class=" flex flex-col gap-3 px-4 border-t-2 pt-5 border-white">
            <p class="text-white text-lg font-semibold pl-2" id="admincaja">Admin Control</p>
            {
                Elementoscriptadmin.map((Elementoscriptadmin, index) => (
                    <Elemento
                        icon={Elementoscriptadmin.icon}
                        texto={Elementoscriptadmin.texto}
                        URL={Elementoscriptadmin.URL}
                    />
                ))
            }
        </div>

        <div class="mt-auto usuariofinal w-full bg-darkslategray box-border flex flex-row items-center justify-end p-6 gap-[12px] leading-[normal] tracking-[normal] text-left text-xs text-darkgray font-base-medium">
            <div class="flex-1 flex flex-row items-center justify-start gap-[12px]">
                <img
                    class="h-10 w-10 relative rounded-[99px] overflow-hidden shrink-0 object-cover"
                    loading="lazy"
                    alt=""
                    src="/public/avatar@2x.png"
                />

                <div class="flex-1 flex flex-col items-start justify-start gap-[2px]" id="profile">
                    <div class="self-stretch relative leading-[20px] font-medium">
                        Welcome back 👋
                    </div>
                    <div class="self-stretch relative text-sm leading-[20px] font-medium text-white">
                        Johnathan
                    </div>
                </div>
            </div>
            <img
                class="h-5 w-5 relative overflow-hidden shrink-0 block"
                loading="lazy"
                alt=""
                id="profile-1"
                src="/public/caret.svg"
            />
        </div>
       
    </div>
</aside>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sidebar = document.getElementById("sidebar");
        const cajaicon = document.querySelectorAll(".cajaelemento");
        const cadasidebar = document.getElementById("cajasidebar1");
        const cajaadmin = document.getElementById("admincaja");
        const toggleButton = document.getElementById("toggleBtn");
        const sidebarLogomini = document.getElementById("logo-min");
        const sidebarLogo = document.getElementById("logo");
        const elements = document.querySelectorAll(".sidebar div.flex a");
        const profilesideBar = document.getElementById("profile");
        const profilesideBar1 = document.getElementById("profile-1");

        toggleButton.addEventListener("click", () => {
            if (sidebar.classList.contains("w-[23rem]")) {
                sidebar.classList.remove("w-[23rem]");
                sidebar.classList.add("w-[5.5rem]");
                cadasidebar.classList.add("pt-[6rem]");
                profilesideBar.classList.remove("block");
                profilesideBar.classList.add("hidden");
                profilesideBar1.classList.remove("block");
                profilesideBar1.classList.add("hidden");
                cajaadmin.classList.add("hidden");
                sidebarLogomini.classList.remove("hidden");
                sidebarLogomini.classList.add("block");
                sidebarLogo.classList.add("hidden");

                elements.forEach((element) => {
                    element.classList.add("hidden");
                });
                cajaicon.forEach(element => {
                    element.classList.remove("flex");
                });

            } else {
                sidebar.classList.remove("w-[5.5rem]");
                sidebar.classList.add("w-[23rem]");
                cadasidebar.classList.remove("pt-[6rem]");
                sidebarLogomini.classList.remove("block");
                sidebarLogomini.classList.add("hidden");
                profilesideBar.classList.remove("hidden");
                profilesideBar.classList.add("block");
                profilesideBar1.classList.remove("hidden");
                profilesideBar1.classList.add("block");
                sidebarLogo.classList.remove("hidden");
                cajaadmin.classList.remove("hidden");
                sidebarLogo.classList.add("block");
                elements.forEach((element) => {
                    element.classList.remove("hidden");
                });
                cajaicon.forEach((element) => {
                    element.classList.add("flex");
                });
            }
        });
    });

    const iconContainers = document.querySelectorAll(".icon-container");
        iconContainers.forEach(iconContainer => {
            iconContainer.addEventListener("click", () => {
                const url = iconContainer.getAttribute("data-url");
                if (url) {
                    window.location.href = url;
                }
            });
        });
</script>


)}

{condicion === 2 && (
    <aside
    class="sidebar hidden sm:flex w-[18rem] h-full bg-greyBlack rounded-md transition-all duration-500 ease-in-out"
    id="sidebar"
>
    <div class="cajasidebar1 flex flex-col gap-5 w-full" id="cajasidebar1">
        <div class="absolute w-15 h-15 justify-end">
            <img
            id="toggleBtn"
            src={IconExpand.src}
            class="cursor-pointer"
            alt=""
        />
        </div>
        
        <div class="flex justify-center">
            <img
                src={Logo.src}
                class="w-[10rem] h-[10em] block"
                alt=""
                id="logo"
            />
            <img
                src={Logomini.src}
                class="w-[2.5rem] h-[3.5rem] pt-5 hidden"
                id="logo-min"
                alt=""
            />
        </div>
        <div class="flex flex-col gap-3 px-2">
            {
                Elementoscript.map((Elementoscript, index) => (
                    <Elemento
                        icon={Elementoscript.icon}
                        texto={Elementoscript.texto}
                        URL={Elementoscript.URL}
                    />
                ))
            }
        </div>


        <div class="mt-auto usuariofinal w-full bg-darkslategray box-border flex flex-row items-center justify-end p-6 gap-[12px] leading-[normal] tracking-[normal] text-left text-xs text-darkgray font-base-medium">
            <div class="flex-1 flex flex-row items-center justify-start gap-[12px]">
                <img
                    class="h-10 w-10 relative rounded-[99px] overflow-hidden shrink-0 object-cover"
                    loading="lazy"
                    alt=""
                    src="/public/avatar@2x.png"
                />

                <div class="flex-1 flex flex-col items-start justify-start gap-[2px]" id="profile">
                    <div class="self-stretch relative leading-[20px] font-medium">
                        Welcome back 👋
                    </div>
                    <div class="self-stretch relative text-sm leading-[20px] font-medium text-white">
                        Johnathan
                    </div>
                </div>
            </div>
            <img
                class="h-5 w-5 relative overflow-hidden shrink-0 block"
                loading="lazy"
                alt=""
                id="profile-1"
                src="/public/caret.svg"
            />
        </div>
       
    </div>
</aside>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sidebar = document.getElementById("sidebar");
        const cadasidebar = document.getElementById("cajasidebar1");
        const cajaicon = document.querySelectorAll(".cajaelemento");
        const toggleButton = document.getElementById("toggleBtn");
        const sidebarLogomini = document.getElementById("logo-min");
        const sidebarLogo = document.getElementById("logo");
        const elements = document.querySelectorAll(".sidebar div.flex a");
        const profilesideBar = document.getElementById("profile");
        const profilesideBar1 = document.getElementById("profile-1");

        toggleButton.addEventListener("click", () => {
            if (sidebar.classList.contains("w-[18rem]")) {
                sidebar.classList.remove("w-[18rem]");
                sidebar.classList.add("w-[5rem]");
                cadasidebar.classList.add("pt-[6rem]");
                profilesideBar.classList.remove("block");
                profilesideBar.classList.add("hidden");
                profilesideBar1.classList.remove("block");
                profilesideBar1.classList.add("hidden");
                sidebarLogomini.classList.remove("hidden");
                sidebarLogomini.classList.add("block");
                sidebarLogo.classList.add("hidden");

                elements.forEach((element) => {
                    element.classList.add("hidden");
                });
                cajaicon.forEach(element => {
                    element.classList.remove("flex");
                });

            } else {
                sidebar.classList.remove("w-[5rem]");
                sidebar.classList.add("w-[18rem]");
                cadasidebar.classList.remove("pt-[6rem]");
                sidebarLogomini.classList.remove("block");
                sidebarLogomini.classList.add("hidden");
                profilesideBar.classList.remove("hidden");
                profilesideBar.classList.add("block");
                profilesideBar1.classList.remove("hidden");
                profilesideBar1.classList.add("block");
                sidebarLogo.classList.remove("hidden");
                sidebarLogo.classList.add("block");
                elements.forEach((element) => {
                    element.classList.remove("hidden");
                });
                cajaicon.forEach((element) => {
                    element.classList.add("flex");
                });
            }
        });
    });

    const iconContainers = document.querySelectorAll(".icon-container");
        iconContainers.forEach(iconContainer => {
            iconContainer.addEventListener("click", () => {
                const url = iconContainer.getAttribute("data-url");
                if (url) {
                    window.location.href = url;
                }
            });
        });
</script>


)}


