---
import Logo from "../../images/logos/logoPrincipal.svg";
import IconExpand from "../../images/sideBarImg/Expand icon.png";
import { Elementoscript } from "../../helpers/elements";
import Elemento from "../nav/elementsidebar.astro";
//import ElementSidebar from "../nav/elementSidebar.astro";
import Logomini from "../../images/sideBarImg/Logomini.png";
import { Elementoscriptadmin } from "../../helpers/elementsadmin";
import IconLogOut from "../../images/sideBarsvg/log_out.svg";
import SidebarModalManager from "./managerModal.jsx";
import IconProfile from "../../images/sideBarImg/avatar@2x.png";


interface Props {
    condicion: number;
    
}

const { condicion } = Astro.props;

let showModal = false;

function handleLogOut() {
    // L贸gica para cerrar sesi贸n
    console.log("Sesi贸n cerrada");
}

function toggleModal() {
    showModal = !showModal;
}


---

{condicion === 1 && (
    <aside
    class="sidebar hidden sticky sm:flex w-[95px] h-screen bg-greyBlack rounded-md transition-all duration-700 ease-in-out"
    id="sidebar"
>
    <div class="cajasidebar1 flex flex-col gap-5 w-full" id="cajasidebar1">
        
        <div class="flex justify-center relative">
            <img
                src={Logo.src}
                class="w-[10rem] h-[10em]  hidden"
                alt=""
                id="logo"
            />
            <img
                src={Logomini.src}
                class="w-[2.5rem] h-[3.5rem] pt-5 block"
                id="logo-min"
                alt=""
            />
            {/* <img
                id="toggleBtn"
                src={IconExpand.src}
                class="cursor-pointer absolute right-[-10px] top-[20px]"
                alt=""
            /> */}
            <div class="w-[24px] h-[24px] rounded-full bg-principalGreen text-sm text-white flex justify-center items-center absolute right-[-10px] top-[20px] cursor-pointer" id="toggleBtn">
                <i class="fa-solid fa-angle-right"></i>
            </div>
        </div>
        <div class="flex flex-col gap-3 px-4">
            {
                Elementoscript.map((elemento, index) => (
                    <Elemento
                        icon={elemento.icon}
                        texto={elemento.texto}
                        URL={elemento.URL}
                    />
                ))
            }
        </div>

        <div class=" flex flex-col gap-3 px-4 border-t-2 pt-5 border-white">
            <p class="text-white text-lg font-semibold pl-2 hidden" id="admincaja">Admin Control</p>
            {
                Elementoscriptadmin.map((elemento, index) => (
                    <Elemento
                        icon={elemento.icon}
                        texto={elemento.texto}
                        URL={elemento.URL}
                    />
                ))
            }
        </div>

        <div class="mt-auto usuariofinal w-full bg-darkslategray box-border flex flex-col items-center justify-end p-6 gap-[20px] leading-[normal] tracking-[normal] text-left text-xs text-darkgray font-base-medium"
        id="usuariofinal">
            <div class="flex-1 flex flex-row items-center justify-start gap-[12px]">
                <img
                    class="h-10 w-10 relative rounded-[99px] overflow-hidden shrink-0 object-cover"
                    loading="lazy"
                    alt=""
                    src={IconProfile.src}
                />

                <div class="flex-1 hidden flex-col items-start justify-start gap-[2px]" id="profile">
                    <div class="self-stretch relative leading-[20px] font-medium">
                        Bienvenido
                    </div>
                    <div class="self-stretch relative text-sm leading-[20px] font-medium text-white">
                        Johnathan
                    </div>
                </div>
            </div>
            <SidebarModalManager client:visible />
        </div>
       
    </div>
</aside>

<script is:inline>
  let iconContainers = [];
  let logOutIcon;

  const initializeSidebar = () => {
    const sidebar = document.getElementById("sidebar");
    const cajaicon = document.querySelectorAll(".cajaelemento");
    const usuariofinal = document.getElementById("usuariofinal");
    const cajaadmin = document.getElementById("admincaja");
    const toggleButton = document.getElementById("toggleBtn");
    const sidebarLogomini = document.getElementById("logo-min");
    const sidebarLogo = document.getElementById("logo");
    const elements = document.querySelectorAll(".sidebar-element");
    const profilesideBar = document.getElementById("profile");

    // Evento del bot贸n de cerrar sesi贸n
    logOutIcon = document.getElementById("profile-1");
    if (logOutIcon) {
      logOutIcon.addEventListener('click', () => {
        toggleModal();
      });
    }

    // Evento para el bot贸n de toggle
    toggleButton.addEventListener("click", () => {
      if (sidebar.classList.contains("w-[95px]")) {
        sidebar.classList.remove("w-[95px]");
        sidebar.classList.add("w-[280px]");
        sidebar.classList.remove("sticky");
        sidebar.classList.add("absolute");
        profilesideBar.classList.remove("hidden");
        profilesideBar.classList.add("block");
        cajaadmin.classList.remove("hidden");
        sidebarLogomini.classList.add("hidden");
        sidebarLogo.classList.remove("hidden");
        usuariofinal.classList.remove("flex-col", "gap-[20px]");
        usuariofinal.classList.add("flex-row", "gap-[12px]");
        elements.forEach((element) => {
          element.classList.remove("hidden");
        });
        cajaicon.forEach((element) => {
          element.classList.add("flex");
        });
        toggleButton.innerHTML = '<i class="fa-solid fa-angle-left"></i>';
      } else {
        sidebar.classList.remove("w-[280px]");
        sidebar.classList.add("w-[95px]");
        sidebar.classList.remove("absolute");
        sidebar.classList.add("sticky");
        profilesideBar.classList.add("hidden");
        cajaadmin.classList.add("hidden");
        sidebarLogomini.classList.remove("hidden");
        sidebarLogo.classList.add("hidden");
        usuariofinal.classList.remove("flex-row", "gap-[12px]");
        usuariofinal.classList.add("flex-col", "gap-[20px]");
        elements.forEach((element) => {
          element.classList.add("hidden");
        });
        cajaicon.forEach((element) => {
          element.classList.remove("flex");
        });
        toggleButton.innerHTML = '<i class="fa-solid fa-angle-right"></i>';
      }
    });

    // Evento para los iconos del contenedor
    iconContainers = document.querySelectorAll(".icon-container");
    iconContainers.forEach(iconContainer => {
      iconContainer.addEventListener("click", () => {
        const url = iconContainer.getAttribute("data-url");
        if (url) {
          window.location.href = url;
        }
      });
    });
  };

  const cleanupSidebar = () => {
    // Elimina los listeners sin clonar los elementos
    if (logOutIcon) {
      logOutIcon.removeEventListener('click', toggleModal);
    }

    iconContainers.forEach(iconContainer => {
      // Reemplazar s贸lo los eventos, no los elementos
      const clonedIconContainer = iconContainer.cloneNode(false); // Clona el nodo sin su contenido
      clonedIconContainer.innerHTML = iconContainer.innerHTML; // Mant茅n el contenido intacto
      iconContainer.replaceWith(clonedIconContainer);
    });
  };

  // Escucha eventos de Astro
  document.addEventListener('astro:before-swap', cleanupSidebar);
  document.addEventListener('astro:after-swap', initializeSidebar);

  // Inicializa la funcionalidad cuando la p谩gina cargue por primera vez
  document.addEventListener("DOMContentLoaded", () => {
    initializeSidebar();
  });
</script>



)}

{condicion === 2 && (
    <aside
    class="sidebar hidden sticky sm:flex w-[5.5rem] h-screen bg-greyBlack rounded-md transition-all duration-700 ease-in-out"
    id="sidebar"
>
    <div class="cajasidebar1 flex flex-col gap-5 pt-[6rem] w-full" id="cajasidebar1">
        
        <div class="flex justify-center relative">
            <img
                src={Logo.src}
                class="w-[10rem] h-[10em]  hidden"
                alt=""
                id="logo"
            />
            <img
                src={Logomini.src}
                class="w-[2.5rem] h-[3.5rem] pt-5 block"
                id="logo-min"
                alt=""
            />
            <img
                id="toggleBtn"
                src={IconExpand.src}
                class="cursor-pointer absolute right-[-10px] top-[20px]"
                alt=""
            />
        </div>
        <div class="flex flex-col gap-3 px-4">
            {
                Elementoscript.map((elemento, index) => (
                    <Elemento
                        icon={elemento.icon}
                        texto={elemento.texto}
                        URL={elemento.URL}
                    />
                ))
            }
        </div>

        <div class=" flex flex-col gap-3 px-4 border-t-2 pt-5 border-white">

        </div>

        <div class="mt-auto usuariofinal w-full bg-darkslategray box-border flex flex-col items-center justify-end p-6 gap-[20px] leading-[normal] tracking-[normal] text-left text-xs text-darkgray font-base-medium"
        id="usuariofinal">
            <div class="flex-1 flex flex-row items-center justify-start gap-[12px]">
                <img
                    class="h-10 w-10 relative rounded-[99px] overflow-hidden shrink-0 object-cover"
                    loading="lazy"
                    alt=""
                    src={IconProfile.src}
                />

                <div class="flex-1 hidden flex-col items-start justify-start gap-[2px]" id="profile">
                    <div class="self-stretch relative leading-[20px] font-medium">
                        Bienvenido
                    </div>
                    <div class="self-stretch relative text-sm leading-[20px] font-medium text-white">
                        Johnathan
                    </div>
                </div>
            </div>
            <img
                class="h-6 w-6 relative overflow-hidden shrink-0 block"
                loading="lazy"
                alt=""
                id="profile-1"
                src={IconLogOut.src}
            />
        </div>
       
    </div>
</aside>

<script>
    document.addEventListener("DOMContentLoaded", () => {
        const sidebar = document.getElementById("sidebar");
        const cajaicon = document.querySelectorAll(".cajaelemento");
        const usuariofinal = document.getElementById("usuariofinal");
        const cadasidebar = document.getElementById("cajasidebar1");
        const cajaadmin = document.getElementById("admincaja");
        const toggleButton = document.getElementById("toggleBtn");
        const sidebarLogomini = document.getElementById("logo-min");
        const sidebarLogo = document.getElementById("logo");
        const elements = document.querySelectorAll(".sidebar-element");
        const profilesideBar = document.getElementById("profile");

        toggleButton.addEventListener("click", () => {
            if (sidebar.classList.contains("w-[95px]")) {
                sidebar.classList.remove("w-[95px]");
                sidebar.classList.add("w-[280px]");
                sidebar.classList.remove("sticky");
                sidebar.classList.add("absolute");
                cadasidebar.classList.remove("pt-[6rem]");
                profilesideBar.classList.remove("hidden");
                profilesideBar.classList.add("block");
                
                cajaadmin.classList.remove("hidden");
                sidebarLogomini.classList.add("hidden");
                sidebarLogo.classList.remove("hidden");
                usuariofinal.classList.remove("flex-col", "gap-[20px]");
                usuariofinal.classList.add("flex-row", "gap-[12px]");
                elements.forEach((element) => {
                    element.classList.remove("hidden");
                });
                cajaicon.forEach((element) => {
                    element.classList.add("flex");
                });
            } else {
                sidebar.classList.remove("w-[280px]");
                sidebar.classList.add("w-[95px]");
                sidebar.classList.remove("absolute");
                sidebar.classList.add("sticky");
                cadasidebar.classList.add("pt-[6rem]");
                profilesideBar.classList.add("hidden");
                cajaadmin.classList.add("hidden");
                sidebarLogomini.classList.remove("hidden");
                sidebarLogo.classList.add("hidden");
                usuariofinal.classList.remove("flex-row", "gap-[12px]");
                usuariofinal.classList.add("flex-col", "gap-[20px]");
                elements.forEach((element) => {
                    element.classList.add("hidden");
                });
                cajaicon.forEach((element) => {
                    element.classList.remove("flex");
                });
            }
        });
    });

    const iconContainers = document.querySelectorAll(".icon-container");
    iconContainers.forEach(iconContainer => {
        iconContainer.addEventListener("click", () => {
            const url = iconContainer.getAttribute("data-url");
            if (url) {
                window.location.href = url;
            }
        });
    });
</script>


)}


